.red{
  color: red;
}
.div-red{
  color: red;
}
.rgba-red{
  color: rgba(224, 130 ,131 ,1);
}
.hex-red{
  color: #f00;
}
.background-red{
  background-color: red;
}
.background-yellow{
  padding: 20px;
  background-color: yellow;
  border: 3px solid #000000;
  box-sizing: border-box;
}
.little-rounded{
  padding: 20px;
  color: white;
  background-color: red;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}
.padding{
  color: white;
  width: 80px;
  height: 80px;
  background-color: red;
  border: 3px solid #000000;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  box-sizing: border-box;
}
.border{
  border-top: dotted green;
  border-bottom: dashed red;
  margin: 10px 20px;
  border-bottom-width: 3px;
  border-top-width: 2px ;

}
.circle{
  padding: 20px;
  background-color: yellow;
  border: 2px solid black;
  border-radius: 50%;

}
span{
  color: green;
}
.div{
  display: inline;
}
.inline{
  color: green;
  display: block;
}
.inline-block{
  height: 40px;
  width: 40px;
  background-color: red;
  color: white;
  display: inline-block;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
}



